{% extends "base.html" %}
{% load custom_markdown %}
{% load static %}
{% block content %}
<div class="posts">
    {% for post in post_list %}
        <section class="post">
            <header class="post-header">
                <img alt="1984" class="post-avatar" src="{{ post.img.url }}"  width="48" height="48">
                <h2 class="post-title"><a href="{%url 'detail' post.id %}"></a>{{ post.title }}</h2>

                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ post.date_time|date:"Y /m /d" }}</a>
                    </p>
            </header>

                <a class="pure-button" href="{% url 'detail' post.id %}"Read More>>></a>
        </section>
    {% endfor %}
</div><!-- /.blog-post -->
{% endblock %}